*{
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
}



body {
    background-color: #F6F8F9;
}

#sfondo-header {
    background-color: white;
   


}

#logo-posizione {
    padding: 0.5% 0% 0.5% 1%;
    vertical-align: middle;
    
}

#titolo {
    display: inline;
    font-size: 40px;
    vertical-align: middle;
    font-family: 'Roboto', sans-serif;
}

.container {
    width: 50%;
    height: 550px;
    background-color: white;
    margin-top: 50px;
    border-radius: 1%;
    margin-bottom: 10px;
}

.container-header {
    height: 50px;
    border-bottom: solid 2px #F6F8F9;

}

.bottone1 {
    display: inline;
    background-color: #47ADF1;
    margin: 0 3px 0 40px;
    border-radius: 10%;
    height: 20px;
    vertical-align: middle;
    margin-top: 15px;
    color: white;
    font-size: small;
    
    
    
}

.bottone2 {
    display: inline;
    background-color: white;
    margin: 0 20px 0 2px;
    border-radius: 10%;
    height: 20px;
    vertical-align: middle;
    margin-top: 15px;
    color: grey;
    font-size: small;
}
    
    

#listaprincipale {  
    margin-left: 7%;
    margin-top: 3%;
    font-family: 'Roboto', sans-serif;
    

}